.flexbox-gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
}

.gold {
  background-color: gold;
}

.black {
  background-color: black;
}

.square {
  height: 20px;
  width: 20px;
}

.cssgrid-gameboard {
  width: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box-shadow-gameboard {
  background-color: gold;
  height: 20px;
  width: 20px;
  box-shadow: 20px 0px black, 40px 0px gold, 60px 0px black, 0px 20px black,
    20px 20px gold, 40px 20px black, 60px 20px gold, 0px 40px gold,
    20px 40px black, 40px 40px gold, 60px 40px black, 0px 60px black,
    20px 60px gold, 40px 60px black, 60px 60px gold;
}
